#!/usr/bin/python
#coding:utf-8

# SETTINGS FILE

DEBUG = False
ERU_BIND = 'localhost:5000'

DOCKER_REGISTRY_URL = 'https://containerops.cn/v1/'
DOCKER_REGISTRY_INSECURE = False
DOCKER_REGISTRY = 'containerops.cn/tonicbupt'
DOCKER_NETWORK = 'bridge'
DOCKER_REGISTRY_USERNAME = ''
DOCKER_REGISTRY_PASSWORD = ''
DOCKER_REGISTRY_EMAIL = ''

GIT_ENDPOINT = 'http://git.hunantv.com'

LOGSTASH = [
    'udp://10.100.1.154:50433',
]

ETCD_SYNC = True
ETCD_MACHINES = (
    ('127.0.0.1', 4001),
)

INFLUXDB_HOST = '10.1.201.42'
INFLUXDB_PORT = 8086
INFLUXDB_USERNAME = 'root'
INFLUXDB_PASSWORD = 'root'
INFLUXDB_DATABASE = 'test'

MYSQL_HOST = '127.0.0.1'
MYSQL_PORT = 3306
MYSQL_USER = 'root'
MYSQL_PASSWORD = ''
MYSQL_DATABASE = 'eru'

SQLALCHEMY_POOL_SIZE = 100
SQLALCHEMY_POOL_TIMEOUT = 10
SQLALCHEMY_POOL_RECYCLE = 2000

ADMINS = ()

CELERY_BROKER_URL = 'redis://localhost:6379/0'

REPORT_INTERVAL = 10
CLEAN_NITERVAL = 86400
CLEAN_DIR = '/var/lib/docker/containers'

PORT_START = 49000
PORT_RANGE = 10
